.disableBodyScroll{
    overflow: hidden;
}
.showOverflow{
    overflow: visible !important;
}
.smoothSlide {
	transition: transform .2s;
}
.container{
    background: yellow;
    height: 40%;
    width: 100%;
    // width: 60%;
    // margin-left: 100px;
    position: relative;
    overflow: hidden;
    touch-action: pan-y;
    border: 2px solid;

    margin-top: 200px;
    // margin-left: 50px;
}
@mixin arrow {
    position: absolute;
    height: 20%;
    top: 40%;
    opacity: 0.18;
    transition: opacity 0.1s;
    z-index: 999;
}
@mixin arrowAfter{
    position: absolute;
    line-height: 20px;
    top: calc(50% - 10px);
    font-size: 35px;
    cursor: pointer;
}
.arrowNext{
    @include arrow;
    right: 5px;
}
.arrowPrev{
    @include arrow;
    left: 5px;
}
.arrowNext:after{
    @include arrowAfter;
    content: "▶";
    right: 0;
}
.arrowPrev:after{
    @include arrowAfter;
    content: "◀";
    left: 0;
}
.arrowNext:hover, .arrowPrev:hover{
    opacity: 0.5;
}
.slideContainer{
    top: 0;
    left: 0;
    position: absolute;
    height: 90%;
    border: 1px solid;
    display: flex;
    touch-action: pan-y;
    background-color: white;
    will-change: transform;
    overflow: hidden;
    z-index: 998;
}
.slide{
    border: 1px solid blue;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: white;
    will-change: transform;
    // cursor: ew-resize;
    img{
        position: absolute;
        height: 100%;
        max-width: 100%;
        // width: 100%;
        object-fit: contain;
        cursor: zoom-in;
        user-select: none;
        background-color: white;
        will-change: transform;
    }
}
.imgContainer{
    width: 100%;
    display: block;
}
.button_zoom{
    position: absolute;
    bottom: 0;
    left: 0;
}
.zoomedIn{
    transform: scale(2);
}
.dotList{
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.dot{
    width: 20px;
    height: 20px;
    border-radius: 999px;
    background: white;
    border: 3px solid rgb(95, 95, 95);
    margin: 5px;
    cursor: pointer;
}
.dot_active{
    background: lime;
}