html, body, #root, .App{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.smoothSlide{
    transition: transform 0.2s;
}
.fams{
    padding: 20px;
}
.famContainer{
    margin-left: 10px;
}
.famImages{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
}
.imgWrapper{
    flex: 1;
}
.famImages img{
    /* border: 2px solid red; */
    margin: 3px;
    height: 100%;
    width: 100%;
    object-fit: contain;
}